*{

  box-sizing: border-box;
   margin: 0;
   padding: 0;
}


body{

  background-color: antiquewhite;
  font-size: 12;
  line-break: auto;
  line-height: 16px;
}


ul{

  list-style: none;
}


.head-Container{

display: flex;
gap: 30%;
background-color: coral;
padding-top:  20px;
padding-bottom: 10px;
flex-wrap: nowrap;
flex-grow: calc(9);


}


  /********* header ********/

nav ul{

  display: flex;
  gap: 12%;


}


ul img{ 
  
  width: 17px;
  border: none;

}

ul .search{

  display: flex;
  align-self: flex-start;
  
}

ul input{
   
  border: none;
  width: 150%;
  padding:-0px 3px;

}


.search:hover input{

text-transform: uppercase;
 padding: 0;


}

nav a {

  text-decoration: none;
  color: aliceblue;

}
nav a:hover{

color: brown;
text-transform: uppercase;
text-decoration: dotted;
font-size: 14px;

}  
/**** head Media queries *****/
      

       
@media screen and (max-width: 550px) {
  
     
.head-Container{

  display: flex;
  gap: 19%;
  background-color: coral;
  padding-top:  10px;
  padding-bottom: 10px;

  flex-direction: column;

}


ul input{
   
  border: none;
  width: 70%;
  padding:-0px 2px;

}


nav ul{

  display: flex;
  gap: 3%;
  margin-top: 4%;
  font-size: 15px;
  padding-left:3px;
  
 


}

 header h1{

   font-size: 18px;
   padding-left: 65%;

 }



  }




   /********* Seaction ********/

    





     .section-container .blog-container{
     border: solid;
     background-color: bisque;
     margin-top: 20px;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 20px;
     padding-left: 10px;
     padding-bottom: 5px;
     padding-top: 5px;

     }

     .blog-container h5{
       color:blue;
       text-decoration:dotted;
       
       


     }



     @media screen and (min-width: 5000px) {


      .section-container{
       display: flex;
       flex: 0 0 33.333333%;
       flex: 0 0 215px
      

      }





     }



     









      /********* Footer ********/
